*, *::after, *::before {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');

@font-face {
    font-family: Norse;
    src: url(./assets/NorseBold.otf) format("opentype");
}

html, body {
    min-height: 100%;
    background: hsla(210, 20%, 98%, 1);
    font-family: Poppins, sans-serif;
}


.sidebar {
    flex: 1;
    position: relative;
}

.sidebar img {
    max-width: 100%;
    max-height: 100%;


}

.logo {
    position: absolute;
    height: 150px;
    width: 100%;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Norse;
    color: blanchedalmond;
    font-size: 5rem;
    background: hsla(0, 6%, 7%, 0.5);


}



.container {
    display: flex;
    min-height: 100%;


}

.content {
    display: flex;
    flex-direction: column;
    flex: 2
}


.top-container {


    padding: 100px 100px 20px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}


form {
    display: flex;
    gap: 30px;
    padding-top: 20px;

}

.form-container {
    background: hsla(0, 0%, 100%, 1);
    padding: 50px;
    padding-top: 20px;
}

.col1, .col2, label {


    display: flex;
    flex-direction: column;
}

.col1, .col2 {
    gap: 20px;
}

input {
    padding: 4px 10px;
    font-size: 1em;
    color: #777;
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
}

button {
    background-color: #596d48;
    font-size: 1rem;
    padding: 10px 60px;
    border-radius: 4px;
    color: hsl(0, 0%, 100%);
}